.form-item-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  
}
